header
    .container.pt-3
        nav.row
            div.mr-auto
                div #[img(src='/images/body_pic.png', alt="", class="logo")]
            div.m-lr-auto.hide-md
                ul.row
                    li.nav #[a(href="/about" class="") ABOUT]
                    li.nav #[a(href="/used" class="") USED]
                    li.nav #[a(href="/new" class="") NEW]
                    li.nav #[a(href="/request" class="") REQUEST FOR QUOTE]
                    li.nav #[a(href="/contact" class="") CONTACT]
            div.ml-auto.hide-md
                ul.row
                    li.nav #[a(href="tel:+2349085764622") +2349085764622]
            .show-md
                div WW
    section.show-md
        nav.pt-3.mb-5
            ul
                li.nav-2 #[a(href="" class="") About]
                li.nav-2 #[a(href="" class="") Used]
                li.nav-2 #[a(href="" class="") New]
                li.nav-2 #[a(href="" class="") Contact]
        .w-100
            a.btn.w-50.org-btn(href="tel:+2349085764622") +2348038438134
            a.btn.w-50.blue-btn(href="tel:+2349085764622") +2349085764622

block content
                           